.services{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .serv-content .card{
    width: calc(33% - 10px);
    background: rgb(246, 244, 244);
    text-align: center;
    border-radius: 6px;
    padding: 50px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card:hover .text{
    color: #fff;
}