.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.navleft{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}


navright{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.navlist{
    flex: 10;
}

.navlist ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.navlist ul li:hover{
    cursor: pointer;
    color: var(--orange);

}